<div ng-if="authService.isAdmin()">
    <pagination total-items="adminCategories.numItems" ng-model="adminCategoryParams.startPage"
                items-per-page="adminCategoryParams.pageSize" ng-change="adminGetCategories()"
                max-size="9" boundary-links="true">
    </pagination>

    <table class="table table-boarded">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="category in adminCategories.categories">
            <td>
                {{category.id}}
            </td>
            <td>
                {{category.username}}
            </td>
            <td>
                <a href="#/admin/categories/edit/{{category.id}}" class="button">Edit</a>
                <a href="#/admin/categories/delete/{{category.id}}" class="button">Delete</a>
            </td>
        </tr>
    </table>
    <a href="#/admin/categories/add" class="button">Add new category</a>

    <div ng-if="adminCategories.categories.length===0" class="box no-data">
        No users found.
    </div>
</div>